/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
* { outline: none; }
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
body {
  line-height:1;
  background: url('/images/mp/chruch.png');
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}
nav ul,
ul {
  list-style:none;
}
blockquote, q {
  quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}
a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}
/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}
input, select {
  vertical-align:middle;
}
body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
h1, h2, h3, h4 { font-family: 'Lato', Helvetica, sans-serif;}
a { text-decoration: none; }


/* Viewport */

html, body {
  width: 100%;
  overflow-x: hidden;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}



.grid {
  width: 960px;
  margin: 0 auto;
}

header {
  background: url('/images/mp/chruch.png');
  height: 100px;
  border-top: 4px solid #FFAE00;
  overflow: hidden;
}

header h1 {
  margin-top: 33px;
  width: 200px;
  float: left;
}

header ul {
  float: right;
  margin-top: 43px;
  width: 600px;
}

header ul li {
  margin-right: 20px;
  float: right;
}

header ul li a {
  color: #5a646d;
  font-family: 'Lato',Helvetica,sans-serif;
  font-size: 0.65em;
  font-weight: 700;
  letter-spacing: 0.085em;
  line-height: 12px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #fff;
}

header ul li a.language {
  color: #FBAD21;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

header ul li a:hover {
  opacity: 0.8;
}

.cover {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: url('/images/mp/blue-pattern.png');
  padding: 80px 0;
}

.cover h2 {
  width: 100%;
  text-align: center;
  word-spacing: 0.10em;
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 80px;
  text-shadow: 1px 1px 1px #234257;
}

#choose-service {
  padding: 80px 0;
  min-height: 800px;
}

#choose-service h3 {
  color: #383838;
  font-family: 'Lato',Helvetica,sans-serif;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.01em;
}

#choose-service h3:after {
  width: 30%;
  height: 4px;
  background-color: #ffae00;
  content: '';
  display: block;
  margin: 15px auto 0;
}

ul.services-list {
  margin-top: 80px;
  overflow: hidden;
}

ul.services-list li {
  float: left;
  width: 30%;
  border: 1px solid #d5d9d9;
  text-align: center;
  margin-right: 4%;
  border-radius: 3px 3px 3px 3px;
  padding: 20px 0 30px;
  background: url('/images/mp/denim.png');
  background: #fff;
}

ul.services-list li:last-child {
  margin-right: 0;
}

ul.services-list li a:hover {
  opacity: 0.8;
}

ul.services-list li .icon {
  margin: 0 auto 20px;
  width: 90%;
}

ul.services-list li h4 {
  text-transform: uppercase;
  font-weight: 700;
  color: #fda51f;
  font-size: 16px;
}

ul.services-list li p {
  color: #8893a1;
  width: 90%;
  line-height: 22px;
  margin: 15px auto 0;
  font-size: 14px;
}

ul.services-list li .btn {
  background: #FF9C00;
  border-radius: 3px 3px 3px 3px;
  color: #fff;
  display: block;
  font-family: 'Lato',Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 15px 0;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  margin: 30px auto 0;
}

footer {
  background: #fff;
  padding: 40px;
}

footer a {
  float: left;
  margin-top: -10px;
}

footer h5 {
  float: right;
  margin-top: -3px;
  margin-left: 15px;
  font-weight: 300;
  font-size: 12px;
  color: #929292;
}








/*
Max Width, 960px
Media Queries for Tablets
*/

@media (max-width:960px) {

  .grid { width: 700px; }
}




/*
Max Width, 686px
Media Queries for Smartphones
*/

@media only screen and (max-width: 686px) {

  .grid {
    width: 90%;
    padding: 0 5%;
  }
}



/*
Max Width, 581px
Media Queries with adjustments for Smartphones
*/

@media (max-width:581px) {

}


/*
Max Width, 481px
Media Queries with more adjustments for Smartphones
*/

@media (max-width:481px) {

}










