/* WUFOO FORM */

form.wufoo .focused {
  background: #88ABC0;
}

form.wufoo label,
form.wufoo input {
  margin-bottom: 0;
  font-size: 2.1em;
  display: block;
}

form.wufoo .floated {
  min-height: 85px;
}

form.wufoo .floated > span {
  width: 258px;
  float: left;
}

form.wufoo .floated > span label {
  font-size: .9em;
  font-style: italic;
}

form.wufoo input.field {
  border: 0;
  background: transparent url("http://startupdev.com.br/images/text-area.png") no-repeat left bottom;
  font-size: 1em;
  margin-top: 5px;
  padding: 10px;
  width: 520px;
}

form.wufoo input.fn,
form.wufoo input.ln {
  width: 258px;
}

form.wufoo .btTxt {
  background: url("http://startupdev.com.br/images/bg-botao-quero-aplicativo.png") no-repeat left top;
  padding: 0;
  border: 0;
  color: #5E4E15;
  font-weight: bold;
  height: 61px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  display: block;
  font-size: 1.6em;
  margin-top: 30px;
  width: 540px;
}

