/* WUFOO FORM */
body{
  font: Helvetica;
}
form.wufoo input.field, .wufoo label.desc {
  font-size: 2.1em;
  display: block;
}
form.wufoo {background-color: #000}
.wufoo label.desc {
  color: #fff;
  font: 2.1em Helvetica;
}

form.wufoo input.field {
  border: 0;
  background: url("https://github.com/Helabs/startupdev.github.com/raw/site-2012/images/text-area.png") no-repeat left bottom;
  font-size: 1em;
  margin-top: 5px;
  padding: 10px;
  font-size: 1em;
  display: block;
  width: 550px;
}
