#form_contact {
  margin-top: 20px;
}

#form_contact .hide { display: none; }

#form_contact label {
  display: none;
}

#form_contact .form-div {
  margin: 0 auto;
  width: 475px;
}

#form_contact .text {
  width: 435px;
  padding: 15px;
  float: left;
  border: none;
  margin-bottom: 20px;
  margin-right: 30px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Lato', Helvetica, sans-serif;
  color: #a9a9a9;
}

#form_contact .form-div.name .text {
  width: 200px;
  margin-right: 5px;
}

#form_contact input.submit {
    width: 370px;
    height: 60px;
    cursor: pointer;
    margin: 60px auto 0;
    background: transparent;
    clear: both;
    padding: 4px 0 2px;
    float: none;
    display: block;
    background-color: #fdb723;
    border: 3px solid #fdb723;
    color: #fff;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.08em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#form_contact input.submit:hover {
  background-color: #51a351;
  border: 3px solid #51a351;
  color: #fff;
}
