
body { background: url('/images/mp/chruch.png'); }

/* Viewport */

html, body {
  width: 100%;
  overflow-x: hidden;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}


header {
  background: url('/images/mp/chruch.png');
  border-top: 4px solid #FFAE00;
  padding: 30px 0 20px;
  overflow: hidden;
}

header h1 {
  float: left;
}

header ul {
  float: right;
  width: auto;
  margin-top: 10px;
}

header ul li {
  margin-left: 20px;
  display: inline;
}

header ul li a {
  color: #5a646d;
  font-family: 'Lato',Helvetica,sans-serif;
  font-size: 0.65em;
  font-weight: 700;
  letter-spacing: 0.085em;
  line-height: 12px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #fff;
}

header ul li a.language {
  color: #FBAD21;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

header ul li a:hover {
  opacity: 0.8;
}

.cover {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: url('/images/mp/blackmamba.png') 0 0 repeat;
  padding: 120px 0;
}

.cover h2 {
  width: 100%;
  text-align: center;
  word-spacing: 0.10em;
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 80px;
  text-shadow: 1px 1px 1px #234257;
}

.cover h2:after {
  width: 75%;
  height: 4px;
  background-color: #ffae00;
  content: '';
  display: block;
  margin: 15px auto 0;
}

#choose-service {
  padding: 80px 0;
  min-height: 800px;
}

#choose-service h3 {
  color: #383838;
  font-family: 'Lato',Helvetica,sans-serif;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.01em;
}

#choose-service h3:after {
  width: 30%;
  height: 4px;
  background-color: #ffae00;
  content: '';
  display: block;
  margin: 15px auto 0;
}

ul.services-list {
  margin-top: 80px;
  overflow: hidden;
}

ul.services-list li {
  float: left;
  width: 100%;
  border: 1px solid #d5d9d9;
  text-align: center;
  margin-right: 4%;
  margin-bottom: 20px;
  border-radius: 3px 3px 3px 3px;
  padding: 20px 0 30px;
  background: url('/images/mp/denim.png');
  background: #fff;
}

ul.services-list li:last-child {
  margin-right: 0;
}

ul.services-list li a:hover {
  opacity: 0.8;
}

ul.services-list li .icon {
  float: left;
  margin: 0 auto 20px;
  padding-left: 7%;
  padding-top:1em;
  text-align: left;
  width: 25%;
/*  margin: 0 auto 20px;
  width: 90%;*/
}

ul.services-list li h4 {
  text-transform: uppercase;
  font-weight: 700;
  color: #fda51f;
  font-size: 16px;
}

ul.services-list li p {
  color: #8893A1;
  float: left;
  font-size: 14px;
  line-height: 22px;
  margin: 15px auto 0;
  text-align: left;
  width: 60%;
/*  color: #8893a1;
  width: 90%;
  line-height: 22px;
  margin: 15px auto 0;
  font-size: 14px;*/
}

ul.services-list li .btn {
  background: none repeat scroll 0 0 #FF9C00;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  display: block;
  float: left;
  font-family: 'Lato',Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.08em;
  margin: 30px auto 0;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
  /*background: #FF9C00;
  border-radius: 3px 3px 3px 3px;
  color: #fff;
  display: block;
  font-family: 'Lato',Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 15px 0;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  margin: 30px auto 0;*/
}

footer {
  background: #fff;
  padding: 40px;
}

footer a {
  float: left;
  margin-top: -10px;
}

footer h5 {
  float: right;
  margin-top: -3px;
  margin-left: 15px;
  font-weight: 300;
  font-size: 12px;
  color: #929292;
}



/*
Max Width, 960px
Media Queries for Tablets
*/

@media (max-width:960px) {

  .grid { width: 700px; }
}



/*
Max Width, 686px
Media Queries for Smartphones
*/

@media only screen and (max-width: 686px) {

  .grid {
    width: 90%;
    padding: 0 5%;
  }

  header {
    padding: 10px 0;
  }

  header h1 {
    width: 100%;
    text-align: center;
    display: block;
  }

  header ul {
    width: 100%;
    float: none;
    text-align: center;
  }

  ul.services-list li {
    width: 100%;
    margin-bottom: 20px;
  }
}



/*
Max Width, 481px
Media Queries with more adjustments for Smartphones
*/

@media (max-width:481px) {

  header ul li {
    margin-left: 10px;
  }

  header ul li a {
    font-size: 0.55em;
  }

  .cover {
    padding: 40px 0;
  }

  .cover h2 {
    font-size: 32px;
    line-height: 48px;
  }

  #choose-service {
    padding: 40px 0;
  }

  #choose-service h3 {
    font-size: 24px;
  }

  ul.services-list {
    margin-top: 30px;
  }

  footer {
    padding: 20px 0;
    overflow: hidden;
  }

  footer a {
    width: 100%;
    margin-top: 0;
    text-align: center;
  }

  footer h5 {
    width: 100%;
    text-align: center;
  }
}
