.grid { width: 96%; padding: 0 2%;}
#top {height: 80px}
#top h1 {margin-top: 0px; text-align: left; width: 90%; padding: 0 2%;}
#top .call {left: 5%;margin-top: 40px;text-align: left;width: 90%; line-height: 18px;}
#top a.language {font-size: 10px;right: 5px;top: 5px;}
#nav {display: none;}
#landing {background: none;padding: 0px 0;  height: 380px;}
#landing .bg-cover {background:rgba(251, 1, 1, 0.8);height: 380px;}
#landing p {font-size: 24px;text-align: left;line-height: 36px;padding: 30px 5% 0;margin-bottom: 20px;}
#landing .madeby {text-align: left;padding: 0 5%;}
.how-works {padding: 50px 0;}
.how-works h3 {text-align: center;font-size: 18px; width: 90%;margin-bottom: 60px; padding: 0 5%;}
.how-works  h3:before, .how-works  h3:after {display: none;}
.how-works #steps {width: 90%;margin: 0 auto;}
.how-works #steps li.idea, .how-works #steps li.time, .how-works #steps li.staff,.how-works #steps li.money { width: 40%;}
.how-works #steps li {font-size: 11px;font-weight: 500;line-height: 20px;margin-right: 20px;padding-top: 80px;text-align: center;float: left;margin-bottom: 30px;}
.how-works #steps li.plus:after {right: -20px;top: 20px;}
.how-works .bt  {width: 260px;font-size: 14px;height: 40px;line-height: 40px;color: #fff;background-color: #ff9c00}
.how-works #steps li.result {float: none;}
.how-works #steps li.money:after {right: -20px;}
.who-we-are {background: none;height: 400px;padding: 30px 0 0;}
.who-we-are h3 {font-size: 30px;margin-bottom: 20px;}
.who-we-are h3:after {display: none;}
.who-we-are p {text-align: left;padding: 0 5%;font-size: 15px;line-height: 22px;margin-bottom: 40px;}
.who-we-are .bg-cover {background: rgba(251, 1, 1, 0.8); height: 430px;}
.contact h3:after {display: none;}
.contact h3 {font-size: 30px;font-weight: 700;}
.contact p {margin-top: 20px;line-height: 20px;}
#footer .share {float: none;margin-top: 0px;width: 90%;margin: 0 auto;}
#footer .share a {text-align: center;}
#footer h4 {float: none;text-align: center;}
#frame_contact {height: 380px;}
#form_contact {height: 380px;}
#form_contact input.submit {width: auto;margin: 40px auto 0;padding: 0 5%;color: #fff;background-color: #ff9c00;}
article.schedule {padding: 40px 0;}
article.schedule h3:after {display: none;}
article.schedule h3 {font-size: 30px;margin-bottom: 30px;}
#calendar {width: 100%;margin: 0;border: none;}
#calendar table {width: 100%;}
#calendar table tr th.day {font-size: 12px;padding: 5px 10px;text-align: left;width: auto;display: block;position: absolute;}
#calendar table tr th.day span {display: none;}
#calendar table tr td {border-right: none;height: 60px;text-shadow: none;font-size: 12px;width: 100%;display: block;padding: 0; padding-top: 20px;}
.testimonials {padding: 40px 0;}
#testimonials_gallery_next, #testimonials_gallery_prev {position: relative;display: none;}
.testimonials h3:after, .testimonials h3:before {display: none;}
.testimonials h3 {text-align: center;font-size: 18px; width: 90%;margin-bottom: 30px; padding: 0 5%;}
.testimonials #testimonials_gallery ul {height: auto;margin: 0 auto;width: 100px;}
.testimonials p {font-size: 14px;line-height: 26px;width: 260px;}
.projects {padding: 40px 0;}
.projects h3:after, .testimonials h3:before {display: none;}
.projects h3 {text-align: center;font-size: 30px; width: 90%;margin-bottom: 30px; padding: 0 5%;}}
#projects_gallery {background: none transparent}
#projects_gallery ul {height: 200px;margin: 0 auto;width: 100%;}
#projects_gallery ul li {height: auto;margin: 0 auto;width: 100%;}
#projects_gallery ul li img {margin-bottom: 0px;width: 100%;height: auto;margin: 0 auto;}
#projects_gallery {background: none repeat scroll 0 0 transparent;padding: 0;min-height: 300px;}
#projects_gallery ul li h6 {font-size: 14px;margin-top: 20px;}
#projects_gallery_next, #projects_gallery_prev {display: none;}








