.video_page #landing .bg-cover {
    background: rgba(23, 155, 149, 0.85);
}
.video_page #landing #nav li a {
    color: #abd6d0;
}
.video_page #who-we-are .bg-cover {
    background: rgba(23, 155, 149, 0.85);
}
.video_page #how-works #steps li.result {
    background: url('/images/mp/video_result_step.png') center 12px no-repeat;
}
.video_page #projects_gallery {
    background: url('/images/mp/gallery-video.png') center 0 no-repeat;
}
.video_page #projects_gallery ul li img {
    display: block;
    margin-bottom: 80px;
    width: 520px;
    height: 290px;
    position: 20px 20px;
}
