/*
+----------------------------------------------------------------+
  Common
+----------------------------------------------------------------+
*/

html {
  background: url('../images/rumble/pattern.jpg');
}

/*
+----------------------------------------------------------------+
  header
+----------------------------------------------------------------+
*/
header {
  position: relative;
}
header h1 {
  background: url('../images/rumble/startup-dev-rumble-logo.png') no-repeat;
  width: 673px;
  height: 233px;
  margin-bottom: 60px;
}

header h1 a {
  display: block;
  width: 673px;
  height: 233px;
}

#language-selector {
  position: absolute;
  right: 0;
  top: -50px;
  width: 150px;
}

#language-selector ul {
  list-style: none;
}

#language-selector li a {
  color: #fff;
  display: block;
  font-size: 1.4em;
  float: left;
  margin-right: 10px;
}

#language-selector li a:hover {
  text-decoration: none;
}

/*
+----------------------------------------------------------------+
  Content
+----------------------------------------------------------------+
*/

article h2 {
  margin-bottom: 30px;
  text-align: center;
}

article h3 {
  color: #FED247;
  margin: 1.5em 0 0em;
}

article p,
article li {
  font-size: 1.4em;
  margin-bottom: 0.7em;
}
article ul {
  margin-left: 30px;
}
article li {
  margin-bottom: 0.5em;
}

article a {
  color: #fff;
  border-bottom: 1px solid #FED247;
  text-decoration: none;
}
article a:hover {
  border-bottom: none;
}

/*
+----------------------------------------------------------------+
  Rumble
+----------------------------------------------------------------+
*/

#select-language {
  overflow: hidden;
}
#select-language ul {
  margin: 0 auto;
  width: 400px;
}
#select-language ul li {
  display: block;
  font-size: 3.5em;
  float: left;
  margin-right: 50px;
}

#select-language a {
  border: none;
  color: #fff;
  text-decoration: none;
}

#select-language a:hover {
  text-decoration: underline;
}

/*
+----------------------------------------------------------------+
  Support
+----------------------------------------------------------------+
*/

#support {}
#support td {
  height: 100px;
  width: 25%;
}

#support a {
  border: none;
}

/*
+----------------------------------------------------------------+
  Footer
+----------------------------------------------------------------+
*/

.dark-background {
  background: #183309;
}
footer {
  margin-top: 100px;
}