.grid {width: 96%; padding: 0 2%;}
#top h1 {margin-top: 0px;}
#top .call {left: 2%;margin-top: 40px;text-align: left;width: 80%;}
#top .other-services {margin-right: 10%;}
#nav ul {width: 95%;}
#nav li {font-size: 11px; padding: 0 10px;}
#landing p {padding: 0;width: 90%;margin: 0 auto 20px; font-size: 40px;}
#landing .madeby {width: 80%;margin: 0 auto;}
.how-works #steps {width: 90%;margin: 0 auto;}
.how-works .bt  {color: #fff;background-color: #ff9c00}
#steps li {margin-bottom: 60px;}
#projects_gallery_prev {left: 0;}
#projects_gallery_next {right: 0;}
.who-we-are {padding: 30px 0 40px}
.testimonials p {width: 70%; margin: 0 auto;}
#frame_contact {height: 380px;}
#form_contact {height: 380px;}
#form_contact input.submit {width: auto;margin: 40px auto 0;padding: 0 5%;color: #fff;background-color: #ff9c00;}
#form_contact .form-div {float: none;margin: 0 auto;width: 465px;}
#form_contact .form-div.email, #form_contact .form-div.sobrenome {margin-right: auto;}
