/* cover landing */

.app_design_page #landing {
  background: url('/images/mp/mvp/mvp_background.jpg') 80% center no-repeat;
}

.app_design_page #landing .bg-cover {
  background: rgba(147, 147, 147, 0.95);
}


/* nav bar */

.app_design_page #nav ul {
  background: #939393;
}

.app_design_page #nav.fxd {
  background: rgba(147, 147, 147, 0.95);
}



/* projects */

.app_design_page #projects_gallery {
  padding-top: 28px;
  background: url('/images/mp/gallery-laptop.png') center 0 no-repeat;
}

.app_design_page #projects_gallery ul {
  width: 527px;
}

.app_design_page #projects_gallery ul li img {
  margin-bottom: 30px;
}


/* who we are */

.app_design_page .who-we-are {
  background: url('/images/mp/mvp/time-he.jpg') center 0 repeat;
}

.app_design_page .who-we-are .bg-cover {
  background: rgba(147, 147, 147, 0.95);
}
