/* ====================
Cover Landing
==================== */

.logo_page #landing {
  background: url('/images/mp/bg-99.jpg') center center no-repeat;
}

.logo_page #landing .bg-cover {
  background: rgba(240, 107, 44, 0.85);
}



/* ====================
Nav Bar
==================== */

.logo_page #nav ul {
  background: #f06b2c;
}

.logo_page #nav.fxd {
  background: rgba(240, 107, 44, 0.85);
}



/* ====================
How Works
==================== */

.logo_page .how-works #steps li.result {
  background: url('/images/icons/logo.png') center 12px no-repeat;
}



/* ====================
Projects
==================== */

.logo_page #projects_gallery {
  padding-top: 24px;
  background: url('/images/mp/gallery-logo.png') center 7px no-repeat;
}

.logo_page  #projects_gallery ul {
  width: 524px;
}

.logo_page #projects_gallery ul li img {
  margin-bottom: 60px;
  width: 524px;
  height: 290px;
}



/* ====================
Who we are
==================== */

.logo_page .who-we-are .bg-cover {
  background: rgba(240, 107, 44, 0.9);
}

.logo_page .who-we-are {
  background: url('/images/mp/who-we-are-bg.png') center 0 repeat;
}



/* ====================
Calendar
==================== */

.logo_page #calendar table tr th {
  background:  #f06b2c;
}
