/* ====================
Cover Landing
==================== */

.mvp_page #landing {
  background: url('/images/mp/mvp/mvp_background.jpg') 80% center no-repeat;
}

.mvp_page #landing .bg-cover {
  background: rgba(251,1,1,0.7);
}



/* ====================
Nav Bar
==================== */

.mvp_page #nav ul {
  background: #fb0101;
}

.mvp_page #nav.fxd {
  background: rgba(206, 4, 0, 0.95);
}



/* ====================
Projects
==================== */

.mvp_page #projects_gallery {
  padding-top: 28px;
  background: url('/images/mp/gallery-laptop.png') center 0 no-repeat;
}

.mvp_page #projects_gallery ul {
  width: 527px;
}

.mvp_page #projects_gallery ul li img {
  margin-bottom: 30px;
}



/* ====================
Who we are
==================== */

.mvp_page .who-we-are {
  background: url('/images/mp/mvp/time-he.jpg') center 0 repeat;
}

.mvp_page .who-we-are .bg-cover {
  background: rgba(251,1,1,0.8);
}



/* ====================
Calendar
==================== */

.mvp_page #calendar table tr th {
  background:  #fb0101;
}
