/* cover landing */

.oratory_page #landing {
  background: url('/images/mp/mvp/mvp_background.jpg') 80% center no-repeat;
}

.oratory_page #landing .bg-cover {
  background: rgba(169, 6, 45, 0.85);
}


/* nav bar */

.oratory_page #nav ul {
  background: #a9062d;
}

.oratory_page #nav.fxd {
  background: rgba(169, 6, 45, 0.85);
}


/* how works */

.oratory_page .how-works #steps li.result {
  background: url('/images/icons/pitch.png') center 12px no-repeat;
}



/* who we are */

.oratory_page .who-we-are .bg-cover {
  background: rgba(169, 6, 45, 0.9);
}

.oratory_page .who-we-are {
  background: url('/images/mp/who-we-are-bg.png') center 0 repeat;
}
