/* ====================
Cover Landing
==================== */

.oratory_page #landing {
  background: url('/images/mp/mvp/mvp_background.jpg') 80% center no-repeat;
}

.oratory_page #landing .bg-cover {
  background: rgba(169, 6, 45, 0.85);
}



/* ====================
Nav Bar
==================== */

.oratory_page #nav ul {
  background: #a9062d;
}

.oratory_page #nav.fxd {
  background: rgba(169, 6, 45, 0.85);
}



/* ====================
How Works
==================== */

.oratory_page .how-works #steps li.result {
  background: url('/images/icons/pitch.png') center 14px no-repeat;
}



/* ====================
Who we are
==================== */

.oratory_page .who-we-are .bg-cover {
  background: rgba(169, 6, 45, 0.9);
}

.oratory_page .who-we-are {
  background: url('/images/mp/who-we-are-bg.png') center 0 repeat;
}



/* ====================
Calendar
==================== */

.oratory_page #calendar table tr th {
  background:  #a9062d;
}
