/* cover landing */

.video_page #landing {
  background: url('/images/mp/sistema-web/sistema_web_background.jpg')
}

.video_page #landing .bg-cover {
  background: rgba(23, 155, 149, 0.85);
}


/* nav bar */

.video_page #nav ul {
  background: #179b95;
}

.video_page #nav.fxd {
  background: rgba(23, 155, 149, 0.95);
}



/* how works */

.video_page .how-works #steps li.result {
  background: url('/images/mp/video_result_step.png') center 12px no-repeat;
}


/* projects */

.video_page #projects_gallery {
  padding-top: 24px;
  background: url('/images/mp/gallery-video.png') center 7px no-repeat;
}

.video_page #projects_gallery ul {
  width: 524px;
}

.video_page #projects_gallery ul li img {
  margin-bottom: 60px;
  width: 524px;
  height: 297px;
}


/* who we are */

.video_page .who-we-are {
  background: #fff;
}

.video_page .who-we-are .bg-cover {
  background: rgba(23, 155, 149, 0.9);
}
