<div id="project">
  <div id="project-title">Nome do Projeto</div>
  <div class="left">
    <div class="image">
      <img src="/images/rumble/prints/gamecomin.png" alt="alt" />
    </div>
    <div class="lunch">
      <div class="btn-lunch">Lunch App</div>
    </div>
  </div>
  <div class="right">
    <div class="project-description">
      Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
    </div>
    <div class="meta-infos">
      <div class="position-comp">1º Lugar</div>
      <div class="language">Ruby/Rails</div>
      <div class="commits">325 Commits</div>
    </div>
    <div class="team-member"></div>
    <div class="team-member"></div>
    <div class="team-member"></div>
  </div>
</div>


<div id="project">
  <div id="project-title">Nome do Projeto</div>
  <div class="left">
    <div class="image">
      <img src="/images/rumble/prints/gamecomin.png" alt="alt" />
    </div>
    <div class="lunch">
      <div class="btn-lunch">Lunch App</div>
    </div>
  </div>
  <div class="right">
    <div class="project-description">
      Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
    </div>
    <div class="meta-infos">
      <div class="position-comp">1º Lugar</div>
      <div class="language">Ruby/Rails</div>
      <div class="commits">325 Commits</div>
    </div>
    <div class="team-members">
      Desenvolvido pelo time Avassaladores: @fulano, @beltrnao e @cricrano.
    </div>
  </div>
</div>

<div id="project">
  <div id="project-title">Nome do Projeto</div>
  <div class="left">
    <div class="image">
      <img src="/images/rumble/prints/gamecomin.png" alt="alt" />
    </div>
    <div class="lunch">
      <div class="btn-lunch">Lunch App</div>
    </div>
  </div>
  <div class="right">
    <div class="project-description">
      Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
    </div>
    <div class="meta-infos">
      <div class="position-comp">1º Lugar</div>
      <div class="language">Ruby/Rails</div>
      <div class="commits">325 Commits</div>
    </div>
    <div class="team-members">
      Desenvolvido pelo time Avassaladores: @fulano, @beltrnao e @cricrano.
    </div>
  </div>
</div>




