
<ul>
  <h6>AR602</h6>
  <li>
    <h2>Alexandre Gomes</h2>
    <p><a href="http://www.seatecnologia.com.br/" rel="external">seatecnologia.com.br</a></p>
  </li>
  <li>
    <h2>Arthur Granado</h2>
    <p><a href="http://21212.com" rel="external">21212.com</a></p>
  </li>
  <li>
    <h2>Cezar Souza</h2>
    <p><a href="http://ventureone.com.br" rel="external">ventureone.com.br</a></p>
  </li>
  <li>
    <h2>Diego Remus</h2>
    <p><a href="http://startupi.com.br" rel="external">startupi.com.br</a></p>
  </li>
</ul>

<div id="space">--</div>

<ul>
  <h6>Eu Quero Ajudar</h6>
  <li>
    <h2>Alexandre Gomes</h2>
    <p><a href="http://www.seatecnologia.com.br/" rel="external">seatecnologia.com.br</a></p>
  </li>
  <li>
    <h2>Arthur Granado</h2>
    <p><a href="http://21212.com" rel="external">21212.com</a></p>
  </li>
  <li>
    <h2>Cezar Souza</h2>
    <p><a href="http://ventureone.com.br" rel="external">ventureone.com.br</a></p>
  </li>
  <li>
    <h2>Diego Remus</h2>
    <p><a href="http://startupi.com.br" rel="external">startupi.com.br</a></p>
  </li>
</ul>




