<nav id="menu">
  <ul>
    <li id="home" title="Início"><a href="#home-section">Início</a></li>
    <li id="video" title="Vídeo"><a href="#presentation-video">Vídeo</a></li>
    <li id="agenda" title="Agenda"><a href="#schedule">Agenda</a></li>
    <li id="statements" title="Depoimentos"><a href="#testimonials">Depoimentos</a></li>
    <li id="projects" title="Projetos"><a href="#developed-projects">Projetos</a></li>
    <!--li id="what-is-it" title="O que é ?"><a href="#what-is-startup-dev">O que é ?</a></li-->
    <li id="contact" title="Contato"><a href="#talk-to-us">Contato</a></li>
  </ul>
</nav>