<nav id="menu-en" class="js-menu">
  <ul>
    <li class="home" title="Início"><a href="#home-section">Home</a></li>
    <li class="video" title="Vídeo"><a href="#video-container">Video</a></li>
    <li class="agenda" title="Agenda"><a href="#schedule">Calendar</a></li>
    <li class="statements" title="Depoimentos"><a href="#testimonials">Testimonials</a></li>
    <li class="projects" title="Projetos"><a href="#developed-projects">Projects</a></li>
    <li class="what-is-it" title="Como funciona"><a href="#what-is-startup-dev">How it works</a></li>
    <li class="contact" title="Contato"><a href="#talk-to-us">Contact</a></li>
    <li class="video" title="Vídeo"><a href="#party">First year</a></li>
  </ul>
</nav>