<article class="schedule">
  <div class="grid">
    <h3>Check when your project could be started...</h3>
    <div id="calendar">
      <table>
        <tbody>
          {% for data in page.schedule.data %}
            <tr>
              <th class="day">{{ data.month }} <span>{{ page.schedule.year }}</span></th>
              {% for week in data.weeks %}
                <td class="{{ week.status }}">
                  {% if week.date %}
                    <div class="day">Week of day {{ week.date }}</div>
                  {% endif %}
                  <div class="day-content">
                    <strong>
                      {% if week.status == 'client' %}
                        {{ week.client }}
                      {% elsif week.status == 'free' %}
                        Free :)
                      {% elsif week.status == 'unavailable' %}
                        Unavailable
                      {% else %}
                        --
                      {% endif %}
                    </strong>
                  </div>
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</article>
