<div id="other-services">
  <div class="grid">
    <h4>Serviços para sua startup prontos para contratação.</h4>
    <ul>
      <li>
        <a class="mvp-service" href="/pt/servicos-para-startups/mvp">MVP</a>
      </li>
      <li>
        <a class="video-service" href="/pt/servicos-para-startups/videos-animados">Vídeos Animados</a>
      </li>
      <li>
        <a class="pitch-service" href="/pt/servicos-para-startups/treinamento-para-pitch">Treinamento para Pitch</a>
      </li>
      <li>
        <a class="media-service" href="/pt/servicos-para-startups/assessoria-comunicacao/">Assessoria de Comunicação</a>
      </li>
      <li>
        <a class="mobile-service" href="/pt/servicos-para-startups/mobile-app-design/">Mobile App Design</a>
      </li>
       <!-- <li> -->
        <!-- <a class="vulnerabilidade-service" href="/pt/servicos-para-startups/analise-de-vulnerabilidade/">Análise de Vulnerabilidade</a> -->
      <!-- </li> -->
    </ul>
  </div>
</div>
