/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul,
ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


body {
    font-family: 'PT Serif', serif;
}

a { text-decoration: none; }

.grid {
    width: 940px;
    margin: 0 auto;
}

#top {
    background-color: #fff;
    overflow: hidden;
    border-top: 7px solid #374650;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 3px 5px rgba(0, 0, 0, 0.2);
}

#top h1 {
    margin-top: 10px;
    float: left;
}

#top #nav {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#top #nav ul li {
    float: left;
    margin-left: 50px;
}

#top #nav ul li a {
    color: #787878;
    display: block;
    padding-top: 24px;
    position: relative;
}

#top #nav ul li a:after {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -10px;
    display: none;
    content: '';
    opacity: 1 !important;
    border-top: 6px solid #374650;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 6px solid transparent;
}

#top #nav ul li a:hover {
    color: #333;
}

#top #nav ul li.active a {
    color: #f47b02;
}

#top #nav ul li.active a:after { display: block; }

#landing {
    background: url('/images/mp/bg-top.png') center 50% no-repeat;
    height: 470px;
    padding: 200px 0 0;
    width: 100%;
    background-size: cover;
}

#landing h2 {
    width: 650px;
    padding: 25px 0;
    text-align: center;
    border: 4px solid #f47b02;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto 40px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

#landing p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 33px;
    font-family: 'Nobile', sans-serif;
    font-weight: bold;
    font-style: italic;
    width: 750px;
    margin: 0 auto 50px;
}

#landing p:after {
    width: 520px;
    height: 30px;
    display: block;
    margin: 0 auto;
    content: '';
    border-bottom: 2px dotted #fff;
    border-bottom: 2px dotted rgba(255,255,255,0.4);
}

#landing .steps { position: relative; width: 740px; margin: 0 auto; }

#landing .steps li {
    float: left;
    width: 80px;
    padding: 85px 0 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-right: 50px;
    position: relative;
}

#landing .steps li:last-child { margin-right: 0; }

#landing .steps li.idea {
    background: url('/images/mp/icon-your-idea.png') center 0 no-repeat;
}

#landing .steps li.staff {
    background: url('/images/mp/icon-staff.png') center 0 no-repeat;
    width: 115px;
}

#landing .steps li.time {
    background: url('/images/mp/icon-time.png') center 0 no-repeat;
    width: 90px;
}

#landing .steps li.price {
    background: url('/images/mp/icon-price.png') center 0 no-repeat;
    width: 125px;
}
#landing .steps li.happy-costumer {
    background: url('/images/mp/icon-happy-costumer.png') center 0 no-repeat;
    width: 125px;
}

#landing .steps li.plus:after {
    content: '';
    width: 22px;
    height: 22px;
    background: url('/images/mp/icon-plus.png') 0 0 no-repeat;
    display: block;
    position: absolute;
    top: 20px;
    right: -30px;
}

#landing .steps li.equal:after {
    content: '';
    width: 23px;
    height: 15px;
    background: url('/images/mp/icon-equal.png') 0 0 no-repeat;
    display: block;
    position: absolute;
    top: 25px;
    right: -40px;
}

#landing .steps li.idea.plus:after { right: -45px; }
#landing .steps li.time.plus:after { right: -45px; }

#video { 
    padding: 0 0 40px;
}

#video p {
    padding: 70px 100px 80px;
    color: #33999c;
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
}

#video p strong,
#video p a {
    color: #f47b02;
    text-decoration: underline;
}

#video .more {
    margin-top: 20px;
    overflow: hidden;
}

#video .more .bt {
    float: left;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    width: 220px;
    margin-right: 20px;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#video .more span {
    color: #afaeae;
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
    font-style: italic;
}

#video .more span a {
    text-decoration: underline;
    color: #afaeae;
}
