/* Contact */

article#contact h3 {
  color: #f47b02;
  text-align: center;
  font-size: 26px;
  font-weight: normal;
}

article#contact {
  background: #374650;
  width: 100%;
  overflow: hidden;
  padding: 100px 0 ;
}







/* Partners */

article#partners h3 {
  color: #33999c;
  text-align: center;
  font-size: 26px;
  font-weight: normal;
}

article#partners {
  width: 100%;
  overflow: hidden;
  padding: 100px 0 20px;
}

article#partners ul {
  width: 100%;
  margin-top: 80px;
}

article#partners ul li {
  float: left;
  width: 235px;
  height: 160px;
  text-align: center;
}

article#partners ul li a:hover{
  opacity: 0.8;
}




/* Partners */

footer#footer {
  background: #33999c;
  height: 160px;
  overflow: hidden;
}

footer#footer h6 a {
  margin-top: 55px;
  float: left;
}

#footer-nav ul {
  float: right;
  margin-top: 65px;
}

#footer-nav ul li {
  float: left;
  margin-left: 20px;
}

#footer-nav ul li a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
}

#footer-nav ul li a:hover {
  opacity: 0.8;
}





