/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

* { outline: none; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    background: url('/images/mp/chruch.png');
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul,
ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
h1, h2, h3, h4 { font-family: 'Lato', Helvetica, sans-serif;}
a { text-decoration: none; }

.grid {
    width: 960px;
    margin: 0 auto;
}

#top {
    background-color: #fff;
    overflow: hidden;
    padding: 20px 0;
    height: 40px;
    border-top: 4px solid #ffae00;
    position: relative;
    width: 100%;
    z-index: 101;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 3px 5px rgba(0, 0, 0, 0.2);
}

#top .grid { position: relative; }

#top h1 {
    float: left;
}

#top .call {
    color: #cbcbcb;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 15px;
    position: absolute;
    width: 560px;
    text-align: center;
    top: 0;
    left: 200px;
    font-family: 'Lato', Helvetica, sans-serif;
    letter-spacing: 0.085em;
    font-weight: 700;
}

#top .call strong {
    color: #adc6d2;
    font-weight: 700;
}

#top .other-services {
    color: #fbad21;
    font-size: 10px;
    margin-top: 15px;
    text-transform: uppercase;
    font-family: 'Lato', Helvetica, sans-serif;
    float: right;
    display: block;
    letter-spacing: 0.085em;
    font-weight: 700;
}

#landing {
    width: 100%;
    position: relative;
    height: 530px;
    background: url('/images/mp/mvp_bg_starting.png') 50% center no-repeat;
    background-clip: cover;
}

#landing .bg-cover {
    width: 100%;
    height: 530px;
    background: #fb0101;
    background: rgba(251,1,1,0.7);
    position: absolute;
    top: 0;
    left: 0;
}

#landing .grid {
    position: relative;
    z-index: 100;
}

#landing #nav {
    padding: 80px 0 60px;
    text-align: center;
}

#landing #nav li {
    font-size: 12px;
    font-family: 'Lato', Helvetica, sans-serif;
    text-transform: uppercase;
    display: inline;
    padding: 0 15px;
    font-weight: 700;
}

#landing #nav li a {
    color: #fdb0af;
}

#landing p {
    color: #f9f9f9;
    font-size: 48px;
    line-height: 60px;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 0 50px;
    margin-bottom: 60px;
}

#landing .madeby {
    text-align: center;
    display: block;
}

#landing .madeby strong {
    display: block;
    color: #cef8f6;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: 'Lato', Helvetica, sans-serif;
}

#how-works {
    padding: 80px 0;
    background: url('/images/mp/blackmamba.png') 0 0 repeat;
}

#how-works #steps {
    overflow: hidden;
    margin-bottom: 80px;
    text-align: center;
}

#how-works #steps li {
    padding-top: 100px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    line-height: 24px;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    margin-right: 50px;
    display: inline-block;
    position: relative;
}

#how-works #steps li.last-child { margin-right: 0; }

#how-works #steps li.idea {
    width: 130px;
    background: url('/images/mp/mvp_idea_step.png') center 0 no-repeat;
}

#how-works #steps li.staff {
    width: 120px;
    background: url('/images/mp/mvp_staff_step.png') center 0 no-repeat;
}

#how-works #steps li.time {
    width: 110px;
    background: url('/images/mp/mvp_time_step.png') center 0 no-repeat;
}

#how-works #steps li.money {
    width: 110px;
    background: url('/images/mp/mvp_money_step.png') center 10px no-repeat;
}

#how-works #steps li.result {
    width: 100px;
    background: url('/images/mp/mvp_result_step.png') center 10px no-repeat;
}

#how-works #steps li.plus:after {
    width: 22px;
    height: 22px;
    content: '';
    display: block;
    background: url('/images/mp/plus.png') 0 0 no-repeat;
}

#how-works #steps li.equal:after {
    width: 23px;
    height: 15px;
    content: '';
    display: block;
    background: url('/images/mp/equal.png') 0 0 no-repeat;
}

#how-works #steps li.plus:after,
#how-works #steps li.equal:after {
    position: absolute;
    right: -50px;
    top: 30px;
}

#how-works #steps li.plus:after { right: -20px; }
#how-works #steps li.staff:after { right: -52px; }
#how-works #steps li.time:after { right: -40px; }
#how-works #steps li.money:after { right: -40px; }


#how-works .bt {
    width: 370px;
    height: 60px;
    margin: 0 auto 25px;
    display: block;
    border: 3px solid #ff9c00;
    color: #ff9c00;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.06em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#how-works .bt:hover {
    color: #fff;
    background-color: #ff9c00;
}

#how-works .more span {
    font-size: 12px;
    color: #ff9c00;
    text-align: center;
    display: block;
    font-family: 'Lato', Helvetica, sans-serif;
    letter-spacing: 0.08em;

}

#how-works .more span a {
    color: #ff9c00;
    text-decoration: underline;
}

#projects {
    padding: 90px 0;
}

#projects h3 {
    font-size: 40px;
    text-transform: lowercase;
    color: #383838;
    font-family: 'Lato', Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

#projects h3:after {
    width: 550px;
    height: 4px;
    background-color: #ffae00;
    content: '';
    display: block;
    margin: 25px auto 0;
}

#projects_gallery {
    min-height: 417px;
    background: url('/images/mp/gallery-laptop.png') center 0 no-repeat;
    position: relative;
    padding: 28px 0 0;
}

#projects_gallery ul {
    width: 527px;
    margin: 0 auto;
}

#projects_gallery ul li {
    text-align: center;
}

#projects_gallery ul li img {
    display: block;
    margin-bottom: 85px;
}

#projects_gallery ul li h6 {
    color: #ff9c00;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    font-family: 'Lato', Helvetica, sans-serif;
    margin-bottom: 20px;
    -webkit-text-shadow: 1px 1px 1px #fff;
    -moz-text-shadow: 1px 1px 1px #fff;
    text-shadow: 1px 1px 1px #fff;
}

#projects_gallery ul li p {
    font-size: 16px;
    line-height: 28px;
    color: #565656;
    -webkit-text-shadow: 1px 1px 1px #fff;
    -moz-text-shadow: 1px 1px 1px #fff;
    text-shadow: 1px 1px 1px #fff;
}

#who-we-are {
    padding: 70px 0 0;
    height: 400px;
    width: 100%;
    position: relative;
    background: url('/images/mp/who-we-are-bg.png') center 0 repeat;
    text-align: center;
}

#who-we-are .bg-cover {
    width: 100%;
    height: 470px;
    background: #fb0101;
    background: rgba(251,1,1,0.7);
    position: absolute;
    top: 0;
    left: 0;
}

#who-we-are .grid {
    position: relative;
    z-index: 100;
}

#who-we-are h3 {
    font-size: 48px;
    color: #fff;
    font-family: 'Lato', Helvetica, sans-serif;
    margin-bottom: 40px;
}

#who-we-are h3:after {
    width: 400px;
    height: 4px;
    background-color: #ffae00;
    content: '';
    display: block;
    margin: 15px auto 0;
}

#who-we-are p {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    padding: 0 100px;
    margin-bottom: 40px;
}
