header#top {
  height: 80px;
}

nav#nav ul {
  margin-top: 15px;
}

#top nav#nav ul li {
  margin-left: 30px;
}

article#landing {
  padding: 130px 0 0;
/*  background: #479a95;*/
/*  background: url("/images/background-pattern.jpg") repeat scroll 0 0 transparent*/
  background: url('/images/mp/bg-top.png') center 50% no-repeat;
  width: 100%;
  background-size: cover;
  height: 540px;
}

article#landing .intro {
  overflow: hidden;
  width: 480px;
  float: left;
}

article#landing h2 {
  border: none;
  text-align: left;
  line-height: 40px;
  font-size: 28px;
  width: 100%;
  margin-bottom: 0;
  color: #fed247;
  color: #fff;
}

article#landing p {
  text-align: left;
  width: 100%;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 0;
}

#landing p:after {
  border-bottom: none;
}

article#landing .video-explanation {
  float: right;
  margin-top: 20px;
}

article#landing .formula {
  background: rgba(87, 186, 180, 0.7);
  overflow: hidden;
  width: 100%;
  margin-top: 100px;
  padding: 20px 0;
  bottom: 0;
}
article#landing ul.steps {
  width: 100%;
  overflow: hidden;
  margin-top: 0px;
  margin-left: 60px;
}














a.btn {
  background: #ff7900;
  color: #fff;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  padding: 15px 60px;
  border-bottom: 2px solid #ff6000;
}
a.btn:hover {
  color: #fff;
  background: #ff9000;
}
