
#testimonials {
  padding: 90px 0 40px;
}

#testimonials h3  {
  color: #373737;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  width: 475px;
  margin: 0 auto 80px;
  position: relative;
}

#testimonials h3:after,
#testimonials h3:before {
  background-color: #ffae00;
  height: 4px;
  width: 100px;
  position: absolute;
  top: 50%;
  content: '';
  display: block;
}

#testimonials h3:after { right: 0; }
#testimonials h3:before { left: 0; }

#testimonials p {
  color: #565656;
  text-align: justify;
  font-style: italic;
  font-size: 16px;
  line-height: 28px;
  -webkit-text-shadow: 1px 1px 1px #fff;
  -moz-text-shadow: 1px 1px 1px #fff;
  text-shadow: 1px 1px 1px #fff;
}

#testimonials p.client_name {
  color: #ff9c00;
  font-style: normal;
  margin-top: 15px;
  text-align: left;
  font-size: 14px;
  text-align: center;
  font-family: 'Lato', Helvetica, sans-serif;
}

#testimonials ul {
  margin: 50px 0 0;
  width: 100%;
  overflow: hidden;
}

#testimonials ul li  {
  width: 430px;
  float: left;
  padding: 0 50px 30px 0;
  margin-bottom: 50px;
  position: relative;
}

#testimonials ul li:after {
  width: 36px;
  height: 11px;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -38px;
  background: url('/images/mp/testimonials-details.png') 0 0 no-repeat;
}

#testimonials ul li.n2:after { margin-left: 13px }

#testimonials ul li.n2 { padding: 0 0 30px 50px; }





#contact {
  background: url('/images/mp/blackmamba.png');
  padding: 80px 0 100px;
}

#contact h3  {
  color: #fff;
  font-weight: 900;
  letter-spacing: 0.04em;
  text-align: center;
  font-size: 40px;
}

#contact h3:after {
    width: 500px;
    height: 4px;
    background-color: #ffae00;
    content: '';
    display: block;
    margin: 15px auto 0;
}

#contact p  {
  color: #d2dbea;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

#contact form {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
}

#contact form label {
  display: none;
}

#contact form .form-div {
  float: left;
  margin-right: 30px;
  width: 465px;
}

#contact form .form-div.email,
#contact form .form-div.date { margin-right: 0; }

#contact form .text {
  width: 425px;
  padding: 15px 20px;
  float: left;
  border: none;
  margin-bottom: 20px;
}

#contact form .text {
  margin-right: 30px;
  font-size: 14px;
  float: left;
  text-transform: uppercase;
  font-family: 'Lato', Helvetica, sans-serif;
  color: #a9a9a9;
}

#contact form select.text {
  width: 465px;
  padding: 0;
}

#contact form .submit-div {
  clear: both;
  overflow: hidden;
}

#contact form input.submit {
    width: 370px;
    height: 60px;
    cursor: pointer;
    margin: 60px auto 0;
    background: transparent;
    clear: both;
    padding: 4px 0 2px;
    float: none;
    display: block;
    border: 3px solid #ff9c00;
    color: #ff9c00;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.08em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#contact form input.submit:hover {
    color: #fff;
    background-color: #ff9c00;
}


/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #a9a9a9;
  font-family: 'Lato', Helvetica, sans-serif;
  text-transform: uppercase;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 40px;
  margin-top: 1px;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 20px;
  height: 47px;
  background-color: #fff;
  border: none !important;
  color: #a9a9a9;
  text-decoration: none;
  white-space: nowrap;
  line-height: 47px;
}
.chosen-container-single .chosen-default {
  color: #999;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('/images/mp/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('/images/mp/select-bt.png') no-repeat 0 center;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url('/images/mp/chosen-sprite.png') no-repeat 100% -20px;
  background: url('/images/mp/chosen-sprite.png') no-repeat 100% -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('/images/mp/chosen-sprite.png') no-repeat 100% -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('/images/mp/chosen-sprite.png') no-repeat 100% -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('/images/mp/chosen-sprite.png') no-repeat 100% -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('/images/mp/chosen-sprite.png') no-repeat 100% -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}


















#footer {
  background: #fff;
  padding: 20px;
  overflow: hidden;
}

#footer .share {
  float: left;
  margin-top: 8px;
}

#footer h4 {
  float: right;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10px;
  color: #929292;
}

#footer span {
  float: left;
  display: block;
  margin: 11px 10px 0 0;
  line-height: 14px;
}

#footer img {
  margin-left: 10px;
}
