---
layout: services
description: 'We create a professional mockup of a mobile app in a single day. From concept to a project with 4 screens and a icon.'
keywords: 'creation, design, mobile, app, mobile app, startup, mockup, ios, android, mobile device'
title: 'Design de Apps Mobile para Startups - StartupDEV App Design'
favicon: '/favicon.png'
class: 'app_design_page'
permalink: 'mobile-app-design/'
clients:
  -
    name: Mediclog
    image: /images/app-design/mediclog.png
    description: Take pictures of your prescriptions, write down the medicines you need to take the MedicLog reminds you of this commitment.
  -
    name: NutriCal
    image: /images/app-design/nutrical.png
    description: With Nutrical you take a picture of your plate and the application calculates the amount of calories you are eating per feeding.
schedule:
  year: 2013
  data:
    -
      month: November
      weeks:
        -
          date: 08/11
          status: free
        -
          date: 15/11
          status: free
        -
          date: 22/11
          status: free
        -
          date: 29/11
          status: free
    -
      month: December
      weeks:
        -
          date: 06/12
          status: free
        -
          date: 13/12
          status: free
        -
          date: 20/12
          status: free
        -
          date: 27/12
          status: unavailable

---
{% include services_list_en.html %}
{% include live_chat.html %}
<header id="top">
  <nav id="nav">
    <ul>
      <li><a href="#" id="how-works">How it works</a></li>
      <li><a href="#" id="projects">Projects</a></li>
      <li><a href="#" id="who-we-are">Who we are</a></li>
      <!--li><a href="#" id="testimonials">Testimonials</a></li-->
      <li><a href="#" id="schedule">Schedule</a></li>
      <li><a href="#" id="contact">Contact</a></li>
    </ul>
  </nav>
  <div class="grid">
    <h1>
      <a href="/en/">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </h1>
    <span class="call">
      <strong>StartupDEV App Design</strong> another StartupDev Service to unleash your business
    </span>
    <a class="other-services" href="#">Other services</a>
  </div>
  <a  class="language" href="/pt/servicos-para-startups/mobile-app-design" title="Versão em Portugues">pt</a>
</header>

<section id="content">
  <article id="landing">
    <div class="grid">
      <p>Mockup of your mobile application with 4 screens and 1 icon made by a professional designer in just one day!</p>
      <span class="madeby">
        <strong>Por:</strong>
        <a href="http://hemobile.com.br" target="_blank"><img src="/images/logos/hemobile.png" alt="HE:mobile" /></a>
      </span>
    </div>
  </article>
  <article class="how-works">
    <div class="grid">
      <h3>How it works</h3>
      <ul id="steps">
        <li class="idea plus">Your product idea</li>
        <li class="staff plus">1 mobile designer</li>
        <li class="time plus">1 day-working</li>
        <li class="money equal">U$1,000 investment</li>
        <li class="result">Professional mockup</li>
      </ul>
      <div class="more">
        <a href="#contact" class="bt">Contact Us</a>
      </div>
    </div>
  </article>
  <article class="projects">
    <div class="grid">
      <h3>Mockups successfully delivered</h3>
      <div id="projects_gallery">
        <ul>
          {% for client in page.clients %}
          <li>
            <a href="{{ client.image }}" title="Ampliar a imagem" target="_blank" rel="nofollow" class="photo">
              <img src="{{ client.image }}" width="580" height="301" alt="{{ client.name }}" />
            </a>
            <h6>{{ client.name }}</h6>
            <p style="text-align: center">{{ client.description }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
  <article class="who-we-are">
    <div class="grid">
      <h3>We are HE:mobile</h3>
      <p>We are a multidisciplinary team consisting of developers, designers and managers passionate about mobile. We are experts in cutting edge technologies best suited to meet your need. We apply methodologies and practices of product development such as Design Thinking, Lean Startup and Agile Development to transform your idea into a real product.</p>
      <span class="company">
        <a href="http://hemobile.com.br" target="_blank"><img src="/images/logos/hemobile.png" alt="HE:mobile" /></a>
      </span>
    </div>
  </article>
  <!--article class="testimonials">
    <div class="grid">
      <h3>Depoimentos</h3>
      <div id="testimonials_gallery">
        <ul>
          {% for testimonial in site.appdesign.testimonials %}
          <li>
            <p>"{{ testimonial.description }}"</p>
            <p class="client_name">{{ testimonial.name }} - {{ testimonial.company }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article-->
  {% include page-schedule-en.html %}
  <article class="contact">
    <link href="/css/form-2.css" media="all" rel="stylesheet" />
    <div class="grid">
      <h3>So, let's work together?</h3>
      <p>Fill in your details below and we'll contact you.</p>

      <form id="form_contact" name="form9" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
            action="https://startupdev.wufoo.eu/forms/ko2w7hl0c6u0ln/#public">

        <div class="form-div name">
            <label for="Field1">First Name</label>
            <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1" placeholder="First Name" required />
            <label for="Field2">Last Name</label>
            <input id="Field2" name="Field2" type="text" class="field text ln" value="" size="14" tabindex="2" placeholder="Last Name" required />
          </span>
        </div>

        <div class="form-div email">
          <label for="email">Email</label>
          <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3" placeholder="Email" required />
        </div>

        <div class="form-div tel">
          <label for="tel">Phone Number</label>
          <input id="Field4" class="field text medium" name="Field4" tabindex="4" required  type="tel" maxlength="255" value="" placeholder="Phone Number" />
        </div>

        <div class="submit-div">
          <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Contact Us" />
        </div>

        <div class="hide">
          <label for="comment">Do Not Fill This Out</label>
          <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
          <input type="hidden" id="idstamp" name="idstamp" value="SB01S+OkXrypTnETqGzJfQ5Ht9a3YCYEnj9w2mVmsco=" />
        </div>
      </form>
    </div>
  </article>
</section>
<footer id="footer">
  <div class="grid">
    <div class="share">
      <a href="#">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </div>
    <h4>
      <span>StartupDev App Design is a service performed by</span>
      <a href="http://hemobile.com.br" target="_blank"><img src="/images/logos/hemobile-small.png" alt="HE:mobile" /></a>
    </h4>
  </div>
</footer>
