---
layout: services
description: 'Criação de mockup profissional de app mobile em apenas 1 dia. Do conceito a um projeto com 4 telas e um ícone.'
keywords: 'criação, design, mobile, app, aplicativo mobile, aplicativo, startup, mockup, ios, android, dispositivo móvel'
title: 'Design de Apps Mobile para Startups - StartupDEV App Design'
favicon: '/favicon.png'
class: 'app_design_page'
permalink: 'app-design/'
clients:
  -
    name: Mediclog
    image: /images/app-design/mediclog.png
    description: Tire fotos das suas receitas, anote os remédios que precisa tomar que o MedicLog te lembra deste compromisso.
  -
    name: NutriCal
    image: /images/app-design/nutrical.png
    description: Com o NutriCal você tira uma foto do seu prato e o aplicativo calcula a quantidade de calorias que você está ingerindo por alimentação.
schedule:
  year: 2013
  data:
    -
      month: Novembro
      weeks:
        -
          date: 04/11
          status: free
        -
          date: 11/11
          status: free
        -
          date: 18/11
          status: free
        -
          date: 25/11
          status: free
        -
          date:
          status:
    -
      month: Dezembro
      weeks:
        -
          date: 02/12
          status: free
        -
          date: 09/12
          status: free
        -
          date: 16/12
          status: free
        -
          date: 23/12
          status: unavailable
        -
          date: 30/12
          status: unavailable
---
{% include services_list.html %}
{% include live_chat.html %}
<header id="top">
  <nav id="nav">
    <ul>
      <li><a href="#" id="how-works">Como funciona</a></li>
      <li><a href="#" id="projects">Clientes atendidos</a></li>
      <li><a href="#" id="who-we-are">Quem somos</a></li>
      <!--li><a href="#" id="testimonials">Depoimentos</a></li-->
      <li><a href="#" id="schedule">Agenda</a></li>
      <li><a href="#" id="contact">Contratar</a></li>
    </ul>
  </nav>
  <div class="grid">
    <h1>
      <a href="/">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </h1>
    <span class="call">
      <strong>StartupDEV App Design</strong> mais um serviço StartupDev para decolar seu negócio
    </span>
    <a class="other-services" href="#">Outros serviços</a>
  </div>
  <a  class="language" href="/en/startup-services/app-design" title="English Version">en</a>
</header>

<section id="content">
  <article id="landing">
    <div class="grid">
      <p>Mockup de seu aplicativo mobile com 4 telas e 1 ícone feito por um designer profissional em apenas 1 dia!</p>
      <span class="madeby">
        <strong>Por:</strong>
        <a href="http://hemobile.com.br" target="_blank"><img src="/images/logos/hemobile.png" alt="HE:mobile" /></a>
      </span>
    </div>
  </article>
  <article class="how-works">
    <div class="grid">
      <h3>Como funciona</h3>
      <ul id="steps">
        <li class="idea plus">Sua ideia de produto</li>
        <li class="staff plus">1 designer mobile</li>
        <li class="time plus">1 dia de trabalho</li>
        <li class="money equal">Investimento de R$ 1.500</li>
        <li class="result mobile">Mockup profissional</li>
      </ul>
      <div class="more">
        <a href="#contact" class="bt">Entre em Contato</a>
      </div>
    </div>
  </article>
  <article class="projects">
    <div class="grid">
      <h3>Mockups entregues com sucesso</h3>
      <div id="projects_gallery">
        <ul>
          {% for client in page.clients %}
          <li>
            <a href="{{ client.image }}" title="Ampliar a imagem" target="_blank" rel="nofollow" class="photo">
              <img src="{{ client.image }}" width="580" height="301" alt="{{ client.name }}" />
            </a>
            <h6>{{ client.name }}</h6>
            <p style="text-align: center">{{ client.description }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
  <article class="who-we-are">
    <div class="grid">
      <h3>Nós somos a HE:mobile</h3>
      <p>Somos uma equipe multidisciplinar composta por desenvolvedores, designers e gestores apaixonados por mobile. Somos especialistas nas tecnologias de ponta mais adequadas para atender a sua necessidade. Nós aplicamos metodologias e práticas de desenvolvimento de produto como Design Thinking, Lean Startup e Desenvolvimento Ágil para transformar a sua ideia em um produto real.</p>
      <span class="company">
        <a href="http://hemobile.com.br" target="_blank"><img src="/images/logos/hemobile.png" alt="HE:mobile" /></a>
      </span>
    </div>
  </article>
  <!--article class="testimonials">
    <div class="grid">
      <h3>Depoimentos</h3>
      <div id="testimonials_gallery">
        <ul>
          {% for testimonial in site.appdesign.testimonials %}
          <li>
            <p>"{{ testimonial.description }}"</p>
            <p class="client_name">{{ testimonial.name }} - {{ testimonial.company }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article-->
  {% include page-schedule.html %}
  <article class="contact">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic' rel='stylesheet' type='text/css'>
    <link href="/css/form-2.css" media="all" rel="stylesheet" />
    <div class="grid">
      <h3>Então, vamos trabalhar juntos?</h3>
      <p>Preencha os seus dados abaixo e nós entramos em contato rapidinho para te atender.</p>

      <form id="form_contact" name="form2" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
            action="https://startupdev.wufoo.com/forms/myqv81t0my7xlq/#public">

        <div class="form-div name">
            <label for="Field1">Nome</label>
            <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1" placeholder="Nome" required />
            <label for="Field2">Sobrenome</label>
            <input id="Field2" name="Field2" type="text" class="field text ln" value="" size="14" tabindex="2" placeholder="Sobrenome" required />
          </span>
        </div>

        <div class="form-div email">
          <label for="email">Email</label>
          <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3" placeholder="E-mail" required />
        </div>

        <div class="form-div tel">
          <label for="tel">Telefone</label>
          <input id="Field4" class="field text medium" name="Field4" tabindex="4" required  type="tel" maxlength="255" value="" placeholder="Telefone (com DDD)" />
        </div>

        <div class="submit-div">
          <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Entrar em Contato" />
        </div>

        <div class="hide">
          <label for="comment">Do Not Fill This Out</label>
          <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
          <input type="hidden" id="idstamp" name="idstamp" value="V0ir/ETSNJ6SV/tOovmYSLFAQ5NUOVFwUR4gz5N3t5Y=" />
        </div>
      </form>
    </div>
  </article>
</section>
<footer id="footer">
  <div class="grid">
    <div class="share">
      <a href="#">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </div>
    <h4>
      <span>StartupDev App Design é um serviço realizado pela</span>
      <a href="http://hemobile.com.br" target="_blank"><img src="/images/logos/hemobile-small.png" alt="HE:mobile" /></a>
    </h4>
  </div>
</footer>
