---
layout: services
description: 'teste'
keywords: 'teste'
title: 'Comunicação Estratégica para Startups - StartupDEV Comunicação'
favicon: '/favicon.png'
class: 'press_page'
permalink: 'assessoria-comunicacao/'
clients:
  -
    name: Camiseteria
    url: "http://www.camiseteria.com.br"
    image: /images/comunicacao/clients/camiseteria.png
  -
    name: Eventick
    url: "http://www.eventick.com.br"
    image: /images/comunicacao/clients/eventick.png
  -
    name: Easy Aula
    url: "http://www.easyaula.com.br"
    image: /images/comunicacao/clients/easyaula.png
  -
    name: Endeavor
    url: "http://www.endeavor.com.br"
    image: /images/comunicacao/clients/endeavor.png
  -
    name: Billy the Grill
    url: "http://www.grupobtg.com.br/"
    image: /images/comunicacao/clients/billythegrill.png
  -
    name: Mola
    url: "http://www.mola.com/pt/"
    image: /images/comunicacao/clients/mola.png
  -
    name: Tangerina
    url: "http://www.tangerina.com.br/"
    image: /images/comunicacao/clients/tangerina.png
  -
    name: Pto de Contato
    url: "http://www.ptodecontato.com.br"
    image: /images/comunicacao/clients/pto-contato.png
  -
    name: Instaquadros
    url: "http://www.instaquadros.com.br"
    image: /images/comunicacao/clients/instaquadros.png
  -
    name: WeDoLogos
    url: "http://www.wedologos.com.br/"
    image: /images/comunicacao/clients/wedologos.png
  -
    name: Moby Prints
    url: "http://www.mobyprints.com.br/"
    image: /images/comunicacao/clients/mobyprints.png

testimonials:
  -
    name: "Luiz Felipe Grossi"
    company: "Instaquadros"
    description: "Através da Tagarela, sonhos como ver nossa empresa na Globo, Folha de São Paulo, Veja, em grandes colunistas, passaram a ser realidade. Muito mais do que uma assessoria a Tagarela veste a camisa de sua empresa, com uma equipe de profissionais de primeira ao seu lado, seu negócio estará mais próximo ao sucesso. O Instaquadros recomenda!"

---
{% include services_list.html %}
{% include live_chat.html %}
<header id="top">
  <nav id="nav">
    <ul>
      <li><a href="#" id="how-works">Como funciona</a></li>
      <li><a href="#" id="projects">Clientes atendidos</a></li>
      <li><a href="#" id="who-we-are">Quem somos</a></li>
      <li><a href="#" id="testimonials">Depoimentos</a></li>
      <li><a href="#" id="contact">Contratar</a></li>
    </ul>
  </nav>
  <div class="grid">
    <h1>
      <a href="/">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </h1>
    <span class="call">
      <strong>StartupDEV Comunicação</strong> mais um serviço StartupDev para decolar seu negócio
    </span>
    <a class="other-services" href="#">Outros serviços</a>
  </div>
<!--   <a  class="language" href="/en/startup-services/mvp" title="English Version">en</a> -->
</header>

<section id="content">
  <article id="landing">
    <div class="grid">
      <p>Sua marca visível como deve ser!</p>
      <span class="madeby">
        <strong>Por:</strong>
        <a href="http://tagarela.inf.br/" target="_blank"><img src="/images/logos/tagarela.png" alt="Tagarela" /></a>
      </span>
    </div>
  </article>
  <article class="how-works">
    <div class="grid">
      <h3>Como funciona</h3>
      <ul id="steps">
        <li class="product plus">Seu negócio digital</li>
        <li class="staff plus">Assessoria de imprensa</li>
        <li class="time plus">3 Meses de trabalho</li>
        <li class="money equal">Investimento de R$ 6 mil</li>
        <li class="product_result">Sua Marca reconhecida</li>
      </ul>
      <div class="more">
        <a href="#contact" class="bt">Contratar agora</a>
      </div>
    </div>
  </article>
  <article class="projects">
    <div class="grid">
      <h3>Clientes atendidos!</h3>
      <div id="projects_gallery">
        <ul>
          {% for client in page.clients %}
          <li>
            <a href="{{ client.url }}" title="{{ client.name }}" target="_blank" rel="nofollow" class="photo">
              <img src="{{ client.image }}" width="527" height="330" alt="{{ client.name }}" />
            </a>
            <h6>{{ client.name }}</h6>
            <p>{{ client.description }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
  <article class="who-we-are">
    <div class="grid">
      <h3>Nós somos a Tagarela</h3>
      <p>Uma assessoria de imprensa estratégica e empreendedora. Entende que o seu papel é potencializar o valor de uma marca, de um produto ou de um serviço. E isto acontece porque a TAGARELA vai além da gestão do relacionamento entre empresa e as mídias. Combina conteúdo, comprometimento, ideias e planejamento para alcançar os melhores resultados. Por conhecer o dia a dia do empreendedor é capaz de mergulhar no universo das empresas para criar planos mais interessantes, aumentando as chances de sucesso e crescimento dos negócios.</p>
      <span class="company">
        <a href="http://tagarela.inf.br/" target="_blank"><img src="/images/logos/tagarela.png" alt="Tagarela" /></a>
      </span>
    </div>
  </article>
  <article class="testimonials">
    <div class="grid">
      <h3>Depoimentos</h3>
      <div id="testimonials_gallery">
        <ul>
          {% for testimonial in page.testimonials %}
          <li>
            <p>"{{ testimonial.description }}"</p>
            <p class="client_name">{{ testimonial.name }} - {{ testimonial.company }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
  <article class="contact">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic' rel='stylesheet' type='text/css'>
    <link href="/css/form-2.css" media="all" rel="stylesheet" />
    <div class="grid">
      <h3>Então, vamos trabalhar juntos?</h3>
      <p>Preencha os seus dados abaixo e nós entramos em contato rapidinho para te atender.</p>

      <form id="form_contact" name="form2" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
            action="https://startupdev.wufoo.com/forms/myqv81t0my7xlq/#public">

        <div class="form-div name">
            <label for="Field1">Nome</label>
            <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1" placeholder="Nome" required />
            <label for="Field2">Sobrenome</label>
            <input id="Field2" name="Field2" type="text" class="field text ln" value="" size="14" tabindex="2" placeholder="Sobrenome" required />
          </span>
        </div>

        <div class="form-div email">
          <label for="email">Email</label>
          <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3" placeholder="E-mail" required />
        </div>

        <div class="form-div tel">
          <label for="tel">Telefone</label>
          <input id="Field4" class="field text medium" name="Field4" tabindex="4" required  type="tel" maxlength="255" value="" placeholder="Telefone (com DDD)" />
        </div>

        <div class="submit-div">
          <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Contratar agora!" />
        </div>

        <div class="hide">
          <label for="comment">Do Not Fill This Out</label>
          <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
          <input type="hidden" id="idstamp" name="idstamp" value="V0ir/ETSNJ6SV/tOovmYSLFAQ5NUOVFwUR4gz5N3t5Y=" />
        </div>
      </form>
    </div>
  </article>
</section>
<footer id="footer">
  <div class="grid">
    <div class="share">
      <a href="#">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </div>
    <h4>
      <span>StartupDev Comunicação é um serviço realizado pela</span>
      <a href="http://tagarela.inf.br/" target="_blank"><img src="/images/logos/tagarela-small.png" alt="Tagarela" /></a>
    </h4>
  </div>
</footer>
