---
layout: services
description: 'Criação e desenvolvimento de logotipo para startups com preço fixo e em apenas quatro dias.'
keywords: 'logotipo, logo, brand, marca, identidade visual, criação,criação de logo, startup'
title: 'Logotipos para Startups - StartupDEV Logotipo'
favicon: '/favicon.png'
class: 'logo_page'
permalink: 'design-de-logotipo/'
projects:
  -
    name: Cuisine Square
    image: /images/projetos/logo/cuisine-square.jpg
  -
    name: Tudo Sobre BPM
    image: /images/projetos/logo/tudo-sobre-bpm.jpg
  -
    name: Tricklar News
    image: /images/projetos/logo/tricklar-news.jpg
  -
    name: Reembolse
    image: /images/projetos/logo/reembolse.jpg
testimonials:
  -
    name: "Patrick Rogan"
    description: "Brilhante o serviço para se trabalhar, e todos os designers foram ótimos. Tive um concurso fantástico."
  -
    name: "Patric Timmermans"
    description: "Ótima maneira de ter designs acessíveis com diferentes ideias criativas"
  -
    name: "Celeste Morgan"
    description: "Amei a facilidade de usar e a qualidade dos designs. Estou impressionada."
  -
    name: "Didier Salem"
    description: "Designers muito criativos e excelente maneira de trabalhar."
  -
    name: "Patrick Oborn"
    description: "Mais um ótimo concurso - seus designers nunca desapontam!"
  -
    name: "Jacqueline Holmes"
    description: "Ótima experiência, muito feliz por ter esta opção. Há tanta diversidade."
  -
    name: "David Ware"
    description: "Um ótimo site capaz de oferecer artistas de alta qualidade. O nível de engajamento em nossa competição foi ótimo e a qualidade dos trabalhos dos artistas superou nossas expectativas."
  -
    name: "Michelle Jordan"
    description: "Nós estamos extremamente satisfeitos com o produto que surgiu em nosso concurso, assim como o processo. Nós recomendamos a 99designs sem hesitar!"
  -
    name: "F.Reus"
    description: "99designs é um ótimo exemplo da globalização. Rápido, divertido e mais competitivo. Absolutamente recomendado."
  -
    name: "Joe Antellocy"
    description: "Nós estamos extremamente contentes com a 99designs. Já usei para três projetos com grande sucesso. Ótimos designers do mundo todo."
---

{% include services_list.html %}
{% include live_chat.html %}
<header id="top">
  {% include main_nav_pt.html %}
  <div class="grid">
    <h1>
      <a href="/">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </h1>
    <span class="call">
      <strong>StartupDEV Logotipo</strong> mais um serviço StartupDev para decolar seu negócio
    </span>
    <a class="other-services" href="#">Outros serviços</a>
  </div>
<!--   <a  class="language" href="/en/startup-services/mvp" title="English Version">en</a> -->
</header>
<section id="content">
  <article id="landing">
    <div class="grid">
      <p>Tenha um logo que você vai amar! <br>O mercado #1 de design gráfico online do mundo garante um trabalho de qualidade, personalizado e com preço acessível.</p>
      <span class="madeby">
        <strong>Por:</strong>
        <a href="http://99designs.com.br" target="_blank"><img src="/images/logos/99-designs.png" alt="99designs" /></a>
      </span>
    </div>
  </article>
  <article class="how-works">
    <div class="grid">
      <h3>Como funciona</h3>
      <ul id="steps">
        <li class="idea plus">Conte-nos sua ideia</li>
        <li class="staff plus">Receba dezenas de propostas</li>
        <li class="time plus">1 semana de trabalho</li>
        <li class="money equal">Investimento de R$ 559</li>
        <li class="result">Seu logotipo lindão!</li>
      </ul>
      <div class="more">
        <a href="#contact" class="bt">Contratar agora!</a>
      </div>
    </div>
    </div>
  </article>
  <article class="projects">
    <div class="grid">
      <h3>+ de 245 mil projetos entregues com sucesso!</h3>
      <div id="projects_gallery">
        <ul>
          {% for project in page.projects %}
          <li>
            <img src="{{ project.image }}" width="527" height="330" alt="{{  project.name }}" />
            <h6>{{ project.name }}</h6>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
  <article class="who-we-are">
    <div class="grid">
      <h3>Nós somos a 99designs</h3>
      <p>Somos o maior mercado online de design gráfico do mundo com uma equipe super dedicada a ajudar os clientes a encontrarem o logo perfeito. Criamos o modelo de ‘concurso criativo’, onde os designers competem enviando propostas visuais para ganhar o prêmio em dinheiro, já incluído no pacote. O cliente escolhe o vencedor selecionando o design que mais gostou!</p>
      <span class="company">
        <a href="http://99designs.com.br" target="_blank"><img src="/images/logos/99-designs.png" alt="99designs" /></a>
      </span>
    </div>
  </article>
  <article class="testimonials">
    <div class="grid">
      <h3>Depoimentos</h3>
      <div id="testimonials_gallery">
        <ul>
          {% for testimonial in page.testimonials %}
          <li>
            <p>"{{ testimonial.description }}"</p>
            <p class="client_name">{{ testimonial.name }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
  <article class="contact">
    <div class="grid">
      <h3>então, vamos trabalhar juntos?</h3>
      <p>Preencha os seus dados abaixo e nós entramos em contato rapidinho para te atender.</p>
      <iframe id="frame_contact" src="../../contact-form/logotipo.html"></iframe>
    </div>
  </article>
</section>
<footer id="footer">
  <div class="grid">
    <div class="share">
      <a href="#">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </div>
    <h4>
      <span>StartupDev logotipo é um serviço realizado pela</span>
      <a href="http://99designs.com.br" target="_blank"><img src="/images/logos/99-designs-footer.png" alt="99designs" /></a>
    </h4>
  </div>
</footer>
