---
layout: services
description: 'Criação e desenvolvimento de logotipo para startups com preço fixo e em apenas quatro dias.'
keywords: 'logotipo, logo, brand, marca, identidade visual, criação,criação de logo, startup'
title: 'Logotipos para Startups - StartupDEV Logotipo'
favicon: '/favicon.png'
class: 'logo_page'
permalink: 'design-de-logotipo/'
testimonials:
  -
    name: "Patrick Rogan"
    description: "Brilhante o serviço para se trabalhar, e todos os designers foram ótimos. Tive um concurso fantástico."
  -
    name: "Patric Timmermans"
    description: "Ótima maneira de ter designs acessíveis com diferentes ideias criativas"
  -
    name: "Celeste Morgan"
    description: "Amei a facilidade de usar e a qualidade dos designs. Estou impressionada."
  -
    name: "Didier Salem"
    description: "Designers muito criativos e excelente maneira de trabalhar."
  -
    name: "Patrick Oborn"
    description: "Mais um ótimo concurso - seus designers nunca desapontam!"
  -
    name: "Jacqueline Holmes"
    description: "Ótima experiência, muito feliz por ter esta opção. Há tanta diversidade."
  -
    name: "David Ware"
    description: "Um ótimo site capaz de oferecer artistas de alta qualidade. O nível de engajamento em nossa competição foi ótimo e a qualidade dos trabalhos dos artistas superou nossas expectativas."
---

{% include services_list.html %}
{% include live_chat.html %}
<header id="top">
  {% include main_nav_pt.html %}
  <div class="grid">
    <h1>
      <a href="/">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </h1>
    <span class="call">
      <strong>StartupDEV Logotipo</strong> mais um serviço StartupDev para decolar seu negócio
    </span>
    <a class="other-services" href="#">Outros serviços</a>
  </div>
  <a  class="language" href="/en/startup-services/mvp" title="English Version">en</a>
</header>

<section id="content">
  <article id="landing">
    <div class="grid">
      <p>Criamos um logotipo profissional <br>em apenas 4 dias.<br>Tenha uma logo que você vai amar!</p>
      <span class="madeby">
        <strong>Por:</strong>
        <a href="http://99designs.com.br" target="_blank"><img src="/images/logos/99-designs.png" alt="99designs" /></a>
      </span>
    </div>
  </article>
  <article class="how-works">
    <div class="grid">
      <h3>Como funciona</h3>
      <ul id="steps">
        <li class="idea plus">Conte-nos sua ideia</li>
        <li class="staff plus">Receba dezenas de propostas</li>
        <li class="time plus">1 semana de trabalho</li>
        <li class="money equal">Investimento de R$ 559</li>
        <li class="result">Seu logotipo lindão!</li>
      </ul>
      <div class="more">
        <a href="#contact" class="bt">Contratar agora!</a>
<!--         <span><a rel="shadowbox;height=540;width=960" href="http://embed.videolog.tv/v/index.php?id_video=796308&amp;related=&amp;hd=&amp;color1=00C6DA&amp;color2=ffffff&amp;color3=&amp;slideshow=&amp;config_url=&amp;">ou assista nosso video de apresentação</a></span> -->
      </div>
    </div>
  </article>
  <article class="projects">
    <div class="grid">
      <h3>+ de {{ site.mvp.number_of_projects }} projetos entregues com sucesso!</h3>
      <div id="projects_gallery">
        <ul>
          {% for project in site.mvp.projects %}
          <li>
            <a href="{{ project.url }}" title="{{ project.name }}" target="_blank" rel="nofollow" class="photo">
              <img src="{{ project.image }}" width="527" height="330" alt="{{  project.name }}" />
            </a>
            <h6>{{ project.name }}</h6>
            <p>{{ project.description }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
  <article class="who-we-are">
    <div class="grid">
      <h3>Nós somos a 99designs</h3>
      <p>Somos o maior mercado online de design gráfico do mundo com uma equipe super dedicada a ajudar os clientes a encontrarem o logo perfeito. Criamos o modelo de ‘concurso criativo’, onde os designers competem enviando propostas visuais para ganhar o prêmio em dinheiro, já incluído no pacote. O cliente escolhe o vencedor selecionando o design que mais gostou!</p>
      <span class="company">
        <a href="http://99designs.com.br" target="_blank"><img src="/images/logos/99-designs.png" alt="99designs" /></a>
      </span>
    </div>
  </article>
  <article class="testimonials">
    <div class="grid">
      <h3>Depoimentos</h3>
      <div id="testimonials_gallery">
        <ul>
          {% for testimonial in page.testimonials %}
          <li>
            <p>"{{ testimonial.description }}"</p>
            <p class="client_name">{{ testimonial.name }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
  <article class="contact">
    <div class="grid">
      <h3>então, vamos trabalhar juntos?</h3>
      <p>Preencha os seus dados abaixo e nós entramos em contato rapidinho para te atender.</p>
      <iframe id="frame_contact" src="../../contact-form/logotipo.html"></iframe>
    </div>
  </article>
</section>
<footer id="footer">
  <div class="grid">
    <div class="share">
      <a href="#">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </div>
    <h4>
      <span>StartupDev logotipo é um serviço realizado pela</span>
      <a href="http://99designs.com.br" target="_blank"><img src="/images/logos/99-designs-footer.png" alt="99designs" /></a>
    </h4>
  </div>
</footer>
