---
layout: services
description: 'Curso de oratória, fonoaudiologia e postura para empreendedores focado em pitch para investidores.'
keywords: 'pitch para investidores, pitch, oratória, postura, pitch para empreendedores'
title: 'Treinamento para Pitch para investidores - StartupDEV Oratória'
favicon: '/favicon.png'
class: 'oratory_page'
permalink: 'treinamento-para-pitch/'
testimonials:
  -
    name: "Rafael Fidalgo"
    company: "Fundador da Startup Alligator"
    description: "O trabalho no Clube da Fala tem me auxiliado a desenvolver uma habilidade que considero fundamental para qualquer empreendedor: ser capaz de envolver as pessoas com minhas ideias por meio de palavras"
  -
    name: "Alex Buchheim"
    company: "Managing Director Limpano"
    description: "Quando se vai vender um produto, um conceito ou uma ideia no mundo empresarial muitas vezes não teremos uma segunda chance de causar uma primeira boa impressão. Depois que comecei com o Clube da Fala aprimorei muitas técnicas, postura e atitude para utilizar nas minhas apresentações."
  -
    name: "Gabriel Rober"
    company: "Diretor de Operações da Silimed"
    description: "A minha posição requer uma enorme habilidade de engajar e convencer pessoas. Para conseguir tal coisa, o Clube da Fala me foi fundamental! Sem o apoio da Dra Laila e equipe, não teria obtido o mesmo sucesso que tive em nosso encontro mundial com fornecedores."
schedule:
  year: 2013
  data:
    -
      month: Outubro
      weeks:
        -
          date: 07/10
          status: free
        -
          date: 14/10
          status: free
        -
          date: 21/10
          status: free
        -
          date: 28/10
          status: free

    -
      month: Novembro
      weeks:
        -
          date: 04/11
          status: free
        -
          date: 11/11
          status: free
        -
          date: 18/11
          status: free
        -
          date: 25/11
          status: free

---

{% include services_list.html %}
{% include live_chat.html %}
<header id="top">
  {% include main_nav_pt.html %}
  <div class="grid">
    <h1>
      <a href="/">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </h1>
    <span class="call">
      <strong>StartupDEV Pitch</strong> mais um serviço StartupDev para decolar seu negócio
    </span>
    <a class="other-services" href="#">Outros serviços</a>
  </div>
<!--   <a  class="language" href="/en/startup-services/mvp" title="English Version">en</a>
 --></header>

<section id="content">
  <article id="landing">
    <div class="grid">
      <p>Treinamento de voz, fala e oratória para preparar qualquer pessoa a fazer um Pitch excepcional para investidores.</p>
      <span class="madeby">
        <strong>Por:</strong>
        <a href="http://www.clubedafala.com.br/index.html" target="_blank"><img src="/images/logos/clube-da-fala.png" alt="Clube da Fala" /></a>
      </span>
    </div>
  </article>
  <article class="how-works">
    <div class="grid">
      <h3>Como funciona</h3>
      <ul id="steps">
        <li class="idea plus">Nessecidade de fazer um pitch</li>
        <li class="staff plus">Especialista em oratória</li>
        <li class="time plus">Intesivo de 6 horas</li>
        <li class="money equal">Investimento de R$ 950,00</li>
        <li class="result">Pitch Excepcional</li>
      </ul>
      <div class="more">
        <a href="#contact" class="bt">Contratar agora</a>
        <!--span><a rel="shadowbox;height=540;width=960" href="http://embed.videolog.tv/v/index.php?id_video=796308&amp;related=&amp;hd=&amp;color1=00C6DA&amp;color2=ffffff&amp;color3=&amp;slideshow=&amp;config_url=&amp;">ou assista nosso video de apresentação</a></span-->
      </div>
    </div>
  </article>
  <article class="projects">
    <div class="grid">
      <h3>+ de 7000 horas em treinamentos realizados!</h3>
    </div>
  </article>
  <article class="who-we-are">
    <div class="grid">
      <h3>Nós somos o clube da Fala</h3>
      <p>Desenvolvemos pessoas por meio da comunicação. Unindo a larga experiência em voz, fala e oratória e conhecimento da Gestão Moderna adquirida em escolas de negócios de primeira linha, desenvolvemos um treinamento único, capaz de, em duas semanas, desenvolver em empreendedores os diversos recursos comunicacionais necessários para se impressionar em um Pitch para investidores.</p>
      <span class="company">
        <a href="http://www.clubedafala.com.br/index.html" target="_blank"><img src="/images/logos/clube-da-fala.png" alt="Clube da Fala" /></a>
      </span>
    </div>
  </article>
  <article class="testimonials">
    <div class="grid">
      <h3>Depoimentos</h3>
      <div id="testimonials_gallery">
        <ul>
          {% for testimonial in page.testimonials %}
          <li>
            <p>"{{ testimonial.description }}"</p>
            <p class="client_name">{{ testimonial.name }} - {{ testimonial.company }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>

  {% include page-schedule.html %}

  <article class="contact">
    <div class="grid">
      <h3>Então, vamos trabalhar juntos?</h3>
      <p>Preencha os seus dados abaixo e nós entramos em contato rapidinho para te atender.</p>
      <iframe id="frame_contact" src="../../contact-form/pitch.html"></iframe>
    </div>
  </article>
</section>
<footer id="footer">
  <div class="grid">
    <div class="share">
      <a href="#">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </div>
    <h4>
      <span>StartupDev Oratória é um serviço realizado pelo</span>
      <a href="http://www.clubedafala.com.br/index.html" target="_blank"><img src="/images/logos/clube-da-fala-footer.png" alt="Clube da Fala" /></a>
    </h4>
  </div>
</footer>
