---
layout: services
description: 'Criação de vídeos animados para startups com preço fixo e em apenas 1 semana.'
keywords: 'criação, vídeo, vídeo animado, animação, vídeo design, motion graphics, videografismo, startup'
title: 'Produção de vídeo animado e storytelling para Startups - StartupDEV Vídeo'
favicon: '/favicon.png'
class: 'video_page'
permalink: 'videos-animados/'
testimonials:
  -
    name: "Louise Kinane"
    company: "Piriform"
    description: "Foi um prazer trabalhar com a Chili Gum e nós estamos muito contentes com o resultado! O trabalho deles é de alta qualidade, foi entregue dentro do prazo e eles foram super flexíveis em relação às mudanças que pedimos. Espero que possamos trabalhar juntos de novo e não hesito em recomenda-los para outras pessoas."
  -
    name: "Rodrigo Paolucci"
    company: "Samba Ads"
    description: "Foi fantástico trabalhar com a Chiligum Videos! Equipe competente, profissional e atendimento diferenciado! Criamos um vídeo explicativo do nosso serviço e a recepção foi a melhor possível, de fácil compreensão e com certeza tem sido um diferencial na venda. Recomendo para qualquer um que queira contar sua história em vídeo, eles sabem fazer como poucos!"
  -
    name: "Mauro"
    company: "RBM Solutions"
    description: "O trabalho da Chili Gum Videos nos agradou muito. Desde o primeiro contato tivemos um ótimo atendimento e tudo que foi combinado foi feito de forma impecável. Os prazos foram cumpridos e toda alteração necessária era comunicada com antecedência. O mais satisfatório foi a qualidade do trabalho entregue, muito superior às expectativas. Recomendo à todos."

schedule:
  year: 2013
  data:
    -
      month: Novembro
      weeks:
        -
          date: 05/11
          status: unavailable
        -
          date: 12/11
          status: unavailable
        -
          date: 19/11
          status: free
        -
          date: 26/09
          status: free
        -
          date:
          status:
    -
      month: Dezembro
      weeks:
        -
          date: 03/12
          status: free
        -
          date: 10/12
          status: free
        -
          date: 17/12
          status: free
        -
          date: 24/12
          status: unavailable
        -
          date: 31/12
          status: unavailable
---

{% include services_list.html %}
{% include live_chat.html %}

<header id="top">
  {% include main_nav_pt.html %}
  <div class="grid">
    <h1>
      <a href="/">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </h1>
    <span class="call">
      <strong>StartupDev Vídeo</strong> Mais um serviço StartupDev para decolar seu negócio
    </span>
    <a class="other-services" href="#">Outros serviços</a>
  </div>
  <a  class="language" href="/en/startup-services/animated-videos" title="English Version">en</a>
</header>
<section id="content">
  <article id="landing">
    <div class="grid grid-video">
      <iframe src="http://fast.wistia.net/embed/iframe/spebditgyj?plugin%5BpostRoll-v1%5D%5Blink%5D=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DxtD_O0fBECI&amp;plugin%5BpostRoll-v1%5D%5Brewatch%5D=true&amp;plugin%5BpostRoll-v1%5D%5Bstyle%5D%5BbackgroundColor%5D=%235c5c5c&amp;plugin%5BpostRoll-v1%5D%5Bstyle%5D%5Bcolor%5D=%23ffffff&amp;plugin%5BpostRoll-v1%5D%5Bstyle%5D%5BfontFamily%5D=Gill%20Sans%2C%20Helvetica%2C%20Arial%2C%20sans-serif&amp;plugin%5BpostRoll-v1%5D%5Bstyle%5D%5BfontSize%5D=36px&amp;plugin%5BpostRoll-v1%5D%5Btext%5D=Click%20here%20to%20watch%20it%20on%20Youtube%21&amp;version=v1&amp;videoHeight=301&amp;videoWidth=535&amp;volumeControl=true" class="illustration" name="wistia_embed" width="535" height="301"></iframe>
      <div class="desc">
        <h1>Transformamos longas histórias em vídeo animado de 60 segundos.</h1>
        <p>Precisa explicar alguma coisa? Você precisa de um StartupDev Video! Uma ideia, um negócio, um produto, um conceito, qualquer coisa pode ser facilmente explicada através de um vídeo animado. É o que nós fazemos: Indentificamos o que é mais importante na sua história e transformamos em um vídeo explicativo de 1 minuto! Quer saber mais? Veja abaixo!</p>
      </div>

      <span class="madeby">
        <strong>Por:</strong>
        <a href="http://chiligumvideos.com" target="_blank"><img src="/images/logos/chiligum.png" alt="Chiligum" /></a>
      </span>
    </div>
  </article>

  <article class="how-works">
    <div class="grid">
      <h3>Como funciona</h3>

      <ul id="steps">
        <li class="idea plus">Sua ideia que vai virar Vídeo</li>
        <li class="staff plus">Nossa equipe especializada</li>
        <li class="time plus">2 semanas de trabalho</li>
        <li class="money equal">Investimento R$ 4.800,00</li>
        <li class="result">Seu Vídeo lindão!</li>
      </ul>

      <div class="more">
        <a href="#contact" class="bt">Contratar agora!</a>
        <span><a rel="shadowbox;height=540;width=960" href="//www.youtube.com/embed/_dWIxafz7p0">ou assista nosso video de apresentação</a></span>
      </div>
    </div>
  </article>

  <article class="projects">
    <div class="grid">
      <h3>+ de {{ site.video.number_of_projects }} projetos entregues com sucesso!</h3>
      <div id="projects_gallery">
        <ul>

          {% for project in site.video.projects %}
          <li>
            <a rel="shadowbox;height=540;width=960" href="{{ project.url }}" title="{{ project.name }}" target="_blank" rel="nofollow" class="photo">
              <img src="{{ project.image }}" width="527" height="330" alt="{{  project.name }}" />
            </a>
            <h6>{{ project.name }}</h6>
            <p>{{ project.description }}</p>
          </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </article>

  <article class="who-we-are">
    <div class="grid">
      <h3>Nós somos a Chiligum</h3>

      <p>Somos uma equipe formada por profissionais de comunicação visual, especializada em storytelling de vídeo. Em outras palavras, transformamos histórias longas e complicadas em vídeos curtos e envolventes, para apresentar idéias elaboradas, explicar produtos complicados e ensinar conceitos detalhados para quem você quiser!</p>

      <span class="company">
        <a href="http://chiligumvideos.com" target="_blank"><img src="/images/logos/chiligum.png" alt="Chiligum" /></a>
      </span>
    </div>
  </article>

  <article class="testimonials">
    <div class="grid">
      <h3>Depoimentos</h3>
      <div id="testimonials_gallery">
        <ul>
          {% for testimonial in page.testimonials %}
          <li>
            <p>"{{ testimonial.description }}"</p>
            <p class="client_name">{{ testimonial.name }} - {{ testimonial.company }}</p>
          </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </article>

  {% include page-schedule.html %}

  <article class="contact">
    <div class="grid">
      <h3>Então, vamos trabalhar juntos?</h3>
      <p>Preencha os seus dados abaixo e nós entramos em contato rapidinho para te atender.</p>

      <form id="form_contact" name="form5" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
            action="https://startupdev.wufoo.eu/forms/s1pux5xp0v4zfzl/#public">

        <div class="form-div name">
            <label for="Field1">Nome</label>
            <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1" placeholder="Nome" required />
            <label for="Field2">Sobrenome</label>
            <input id="Field2" name="Field2" type="text" class="field text ln" value="" size="14" tabindex="2" placeholder="Sobrenome" required />
          </span>
        </div>

        <div class="form-div email">
          <label for="email">Email</label>
          <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3" placeholder="E-mail" required />
        </div>

        <div class="form-div tel">
          <label for="tel">Telefone</label>
          <input id="Field4" class="field text medium" name="Field4" tabindex="4" required  type="tel" maxlength="255" value="" placeholder="Telefone (com DDD)" />
        </div>

        <div class="submit-div">
          <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Entrar em Contato" />
        </div>

        <div class="hide">
          <label for="comment">Do Not Fill This Out</label>
          <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
          <input type="hidden" id="idstamp" name="idstamp" value="qAwZvjPVs1CeHV3U16SHvFJbgaG/c3cO717FOtiNVrE=" />
        </div>
      </form>
    </div>
  </article>
</section>

<footer id="footer">
  <div class="grid">
    <div class="share">
      <a href="#">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </div>

    <h4>
      <span>StartupDev Vídeo é um serviço desenvolvido pela</span>
      <a href="http://chiligumvideos.com" target="_blank"><img src="/images/logos/chiligum-small.png" alt="Chiligum" /></a>
    </h4>
  </div>
</footer>
