<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
  <body>
    <section id='wrapper'>
      <a name="home-section"></a>
      <header>
        <h1>Startup DEV</h1>
      </header>
      <nav id="menu">
        <ul>
          <li id="home" title="Início"><a href="#home-section">Início</a></li>
          <li id="projects" title="Projetos"><a href="#projects-session">Projetos</a></li>
          <li id="what-is-it" title="O que é ?"><a href="#what-is-it-section">O que é ?</a></li>
          <li id="contact" title="Contato"><a href="#contact-section">Contato</a></li>
        </ul>
      </nav>
      <section>
        {{ content }}
      </section>
    </section>
    <footer class="dark-background">
      <p>Copyright © 2012 <a href="http://helabs.com.br" title="HE:labs">HE:labs</a></p>
    </footer>
  </body>
</html>