<!DOCTYPE html>
<html lang='pt-br'>
  <head>
    <meta charset='utf-8' />
    <meta name='keywords' content='desenvolvimento, programação, webapp, aplicativo web, aplicativo, startup' />
    <meta name='description' content='Desenvolvimento expresso de aplicativos web para startups com preço fixo e em apenas dois dias.' />
    <meta name="viewport" content="width=720, maximum-scale=1.0" />

    <title>Startup DEV</title>
    <link href='/favicon.png' rel='shortcut icon' />

    <!-- Unir estes 2 CSS -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Nobile:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />

    <link href="/css/mp/style.css" media="all" rel="stylesheet" />
    <link href="/css/mp/style2.css" media="all" rel="stylesheet" />
  </head>

  <body>
    <header id="top">
      <div class="grid">

        <h1>
          <a href="#">
            <img src="/images/mp/logotipo.png" alt="Startup DEV" />
          </a>
        </h1>

        <nav id="nav">
          <ul>
            <li class="active"><a href="#">Sobre</a></li>
            <li><a href="#">Projetos</a></li>
            <li><a href="#">Depoimentos</a></li>
            <li><a href="#">Portifolio</a></li>
            <li><a href="#">Parceiros</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="content">
      {{ content }}
    </section>

    <footer id="footer">
      <div class="grid">
        <h6>
          <a href="#">
            <img src="/images/mp/logotipo.png" alt="Startup DEV" />
          </a>
        </h6>
        <nav id="footer-nav">
          <ul>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Projetos</a></li>
            <li><a href="#">Depoimentos</a></li>
            <li><a href="#">Portifolio</a></li>
            <li><a href="#">Parceiros</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
