<!DOCTYPE html>
<html lang='pt-br'>
  <head>
    <meta charset='utf-8' />
    <meta name='keywords' content='desenvolvimento, programação, webapp, aplicativo web, aplicativo, startup' />
    <meta name='description' content='Desenvolvimento expresso de aplicativos web para startups com preço fixo e em apenas dois dias.' />
    <meta name="viewport" content="width=720, maximum-scale=1.0" />

    <title>Startup DEV</title>
    <link href='/favicon.png' rel='shortcut icon' />

    <!-- Unir estes 3 CSS -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Nobile:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />

    <link href="/css/mp/style.css" media="all" rel="stylesheet" />
    <link href="/css/mp/style2.css" media="all" rel="stylesheet" />

    <!-- Javascripts -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script src='http://malsup.github.io/jquery.cycle.all.js'></script>
    <script type="text/javascript" src="/js/mp.js"></script>
  </head>

{{ content }}