<!DOCTYPE html>
<html lang='en'>
  {% include rumble/head.html %}
  <article>
    <header>
      <div id="masthead">
        {% include rumble/menu_en.html %}
        {% include rumble/language_selector.html %}
      </div>

      <div id="logo"><a href="/rumble" title="Startup DEV RUMBLE">Startup DEV RUMBLE</a></div>

      <div id="info">
        <a href="http://helabs.wufoo.com/forms/startup-dev-rumble/" id="join-badge-en">
          Make your subscription
        </a>
        <div id="when">
          September 1<span id="numeral">st</span> and 2<span id="numeral">nd</span> &bull; 2012
        </div>
        <div id="preamble">
          Build your team and<span>launch an app in 48h</span>
        </div>
      </div>
    </header>
    <div id="container">
      {{ content }}
    </div>
    <section id="banner">
      <h1>Join the Startup DEV team</h1>
      <p>The projects will also be evaluated by Startup DEV team. If we like the way your team work you and your friends may be called to work with us.</p>
    </section>
    <section id="support">
      <h1>Infrastructure partners</h1>
      <nav>
        <ul>
          <li><a href="http://webbynode.com/" title="Web Application Hosting with awesome deployment tools" rel="external"><img src="/images/rumble/support/webbynode.png" width="277" height="68" alt="Web Application Hosting with awesome deployment tools"></a></li>
        </ul>
      </nav>
    </section>
    <section id="support">
      <h1>Proudly brought to you by</h1>
      <nav id="support">
        <ul>
          <li><a href="http://www.rioinfo.com.br/" title="Rio info dez anos" rel="external"><img src="/images/rumble/support/rio-info.png" width="124" height="63" alt="Rio info dez anos"></a></li>
          <li><a href="http://helabs.com.br" title="HE:labs" rel="external"><img src="/images/rumble/support/helabs.png" width="188" height="70" alt="HE:labs"></a></li>
          <li><a href="http://startupdev.com.br" title="Startup DEV" rel="external"><img src="/images/rumble/support/startup-dev.png" width="162" height="32" alt="Startup DEV"></a></li>
        </ul>
      </nav>
    </section>
    {% include footer.html %}
  </article>
</html>